## ANN with Regression for Salary prediction
### Using salary as continuous faeture for prediction

In [1]:
## Required modules

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
## Get data set

data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
## EstimatedSalary will be the output(dependent) feature while all other will independent features
## As this output feature has continuous values to use for regression
## Delete unnecessary features

data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [ ]:
## For Gender Label Encoder for only two categories
label_encoder_gender = LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

## It will conver male and female into 1 and 0
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [5]:
## But in Geography	column, there are more than two categories
## Here will use OneHotEncoder instead of LabelEncoder

onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
## Now combine all onehot encoded columns in the original data
## First drop 'Geography' column and then concate with geo_encoded_df

data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [7]:
## Split the data into features ans target
## X without EstimatedSalary and all other columns
## y wiyh only EstimatedSalary column
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [8]:
## Split the data in training and testing sets (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
## Scale thsese features from 0 to 1
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
## Save the encoder and scalers
## Save this file in the pickle containing with both LabelEncoder and OnhotEncoder
## This pickle file will be used in future
## Save this file in the form of write byte mode (wb)
## Use dump to convert into json

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

### Train ANN with Regression Problem Statementm

In [11]:
import tensorflow as tf

## To use sequential model
from tensorflow.keras.models import Sequential
## To create nodes
from tensorflow.keras.layers import Dense
## For early stopping and for visuals
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
## To use date time
import datetime

In [12]:
## Build the ANN Model
## Create and initialize sequential model
## Here we will use 64 nodes/neurons in hidden layer and apply relu activation function
## Only in first hidden layer (HL1), needs to write input_shape to make connections between input and Dense layer
model = Sequential([
    ## HL1 connected with input layer
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)), 
    ## HL2, Don't need input_shape, now it knows that it will be connected already
    Dense(32, activation='relu'),
    ## This is Output layer with Dense 1, here not applying any activation function
    ## using default activation function called linear which is specific for regression      
    Dense(1) 
])

## Compile the model for regression

## Can use either mean absolute error (mae) or mean square error (mse) for loss. 
## For more info on loss functions, https://keras.io/api/losses/
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

/Users/mak25/Documents/udem_genai_mk/ml_dl_projects/mldl-env/lib/python3.12/site-packages/keras/src/layers/core/dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
## To train this model
## Set up TensorBoard

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [14]:
## Early stoping

early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
## Finally start model training by using callbacks
history = model.fit(
    X_train, y_train, 
    validation_data=(X_test, y_test), 
    epochs=100,
    callbacks=[tensorboard_callback, early_stopping_callback]
    )

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 100393.4922 - mae: 100393.4922 - val_loss: 98575.6797 - val_mae: 98575.6797
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 658us/step - loss: 99840.4688 - mae: 99840.4688 - val_loss: 97446.4531 - val_mae: 97446.4531
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 661us/step - loss: 97850.1250 - mae: 97850.1250 - val_loss: 94501.6094 - val_mae: 94501.6094
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 649us/step - loss: 93834.0938 - mae: 93834.0938 - val_loss: 89432.9688 - val_mae: 89432.9688
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 645us/step - loss: 87766.8047 - mae: 87766.8047 - val_loss: 82622.0000 - val_mae: 82622.0000
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 653us/step - loss: 80196.7344 - mae: 80196.7344 - val_loss: 74855.3906 - val_mae: 74855.3906
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 651us/step - loss: 72218.4141 - mae: 72218.4141 - val_loss: 67388.8438 - val_mae: 67388.8438
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 636us/step - loss: 64808.0781 - mae: 64808.0781 - val_loss: 60891.8086 - val_mae: 60891.8086
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 648us/step - loss: 58868.1211 - mae: 58868.1211 - val_loss: 56231.2930 - val_mae: 56231.2930
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 653us/step - loss: 54929.3281 - mae: 54929.3281 - val_loss: 53482.6836 - val_mae: 53482.6836
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 645us/step - loss: 52648.9023 - mae: 52648.9023 - val_loss: 52067.5430 - val_mae: 52067.5430
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 645us/step - loss: 51483.5859 - mae: 51483.5859 - val_loss: 51500.8203 - val_mae: 51500.8203
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 646us/step - loss: 50986.9219 - mae: 50986.9219 - val_loss: 51274.1953 - val_mae: 51274.1953
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 666us/step - loss: 50764.1055 - mae: 50764.1055 - val_loss: 51181.9297 - val_mae: 51181.9297
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 644us/step - loss: 50636.6445 - mae: 50636.6445 - val_loss: 51104.2070 - val_mae: 51104.2070
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 643us/step - loss: 50539.8047 - mae: 50539.8047 - val_loss: 51040.4688 - val_mae: 51040.4688
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 647us/step - loss: 50461.6016 - mae: 50461.6016 - val_loss: 50985.5547 - val_mae: 50985.5547
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 661us/step - loss: 50391.0117 - mae: 50391.0117 - val_loss: 50931.7930 - val_mae: 50931.7930
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 641us/step - loss: 50331.1758 - mae: 50331.1758 - val_loss: 50891.8477 - val_mae: 50891.8477
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 643us/step - loss: 50278.7383 - mae: 50278.7383 - val_loss: 50858.8086 - val_mae: 50858.8086
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 645us/step - loss: 50230.1172 - mae: 50230.1172 - val_loss: 50824.6680 - val_mae: 50824.6680
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 638us/step - loss: 50187.2109 - mae: 50187.2109 - val_loss: 50785.1406 - val_mae: 50785.1406
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 645us/step - loss: 50147.8242 - mae: 50147.8242 - val_loss: 50750.5352 - val_mae: 50750.5352
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 656us/step - loss: 50107.6797 - mae: 50107.6797 - val_loss: 50720.9766 - val_mae: 50720.9766
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 641us/step - loss: 50072.5781 - mae: 50072.5781 - val_loss: 50698.7930 - val_mae: 50698.7930
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 653us/step - loss: 50037.7148 - mae: 50037.7148 - val_loss: 50671.0234 - val_mae: 50671.0234
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 658us/step - loss: 50007.8398 - mae: 50007.8398 - val_loss: 50645.2383 - val_mae: 50645.2383
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 642us/step - loss: 49982.9492 - mae: 49982.9492 - val_loss: 50631.6289 - val_mae: 50631.6289
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 651us/step - loss: 49955.2422 - mae: 49955.2422 - val_loss: 50606.4688 - val_mae: 50606.4688
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 639us/step - loss: 49929.2188 - mae: 49929.2188 - val_loss: 50582.8008 - val_mae: 50582.8008
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 663us/step - loss: 49909.0508 - mae: 49909.0508 - val_loss: 50571.2930 - val_mae: 50571.2930
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 638us/step - loss: 49889.8750 - mae: 49889.8750 - val_loss: 50554.6602 - val_mae: 50554.6602
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 646us/step - loss: 49865.6719 - mae: 49865.6719 - val_loss: 50539.8164 - val_mae: 50539.8164
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 641us/step - loss: 49845.7773 - mae: 49845.7773 - val_loss: 50522.6172 - val_mae: 50522.6172
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 661us/step - loss: 49829.2812 - mae: 49829.2812 - val_loss: 50501.3594 - val_mae: 50501.3594
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 643us/step - loss: 49808.8281 - mae: 49808.8281 - val_loss: 50490.4453 - val_mae: 50490.4453
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 643us/step - loss: 49795.0508 - mae: 49795.0508 - val_loss: 50483.2852 - val_mae: 50483.2852
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 644us/step - loss: 49779.7031 - mae: 49779.7031 - val_loss: 50469.0547 - val_mae: 50469.0547
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 717us/step - loss: 49760.1836 - mae: 49760.1836 - val_loss: 50455.9336 - val_mae: 50455.9336
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 638us/step - loss: 49743.9414 - mae: 49743.9414 - val_loss: 50439.5977 - val_mae: 50439.5977
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 656us/step - loss: 49730.5352 - mae: 49730.5352 - val_loss: 50429.6680 - val_mae: 50429.6680
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 643us/step - loss: 49715.3203 - mae: 49715.3203 - val_loss: 50416.8555 - val_mae: 50416.8555
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 638us/step - loss: 49701.8594 - mae: 49701.8594 - val_loss: 50414.2812 - val_mae: 50414.2812
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 641us/step - loss: 49692.0664 - mae: 49692.0664 - val_loss: 50412.2578 - val_mae: 50412.2578
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 638us/step - loss: 49676.2305 - mae: 49676.2305 - val_loss: 50397.5117 - val_mae: 50397.5117
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 643us/step - loss: 49669.0781 - mae: 49669.0781 - val_loss: 50387.9727 - val_mae: 50387.9727
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 640us/step - loss: 49655.8359 - mae: 49655.8359 - val_loss: 50378.4492 - val_mae: 50378.4492
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 644us/step - loss: 49646.9141 - mae: 49646.9141 - val_loss: 50376.4141 - val_mae: 50376.4141
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 639us/step - loss: 49636.7695 - mae: 49636.7695 - val_loss: 50370.0938 - val_mae: 50370.0938
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 673us/step - loss: 49629.1094 - mae: 49629.1094 - val_loss: 50370.7383 - val_mae: 50370.7383
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 644us/step - loss: 49622.9883 - mae: 49622.9883 - val_loss: 50375.9922 - val_mae: 50375.9922
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 635us/step - loss: 49614.4062 - mae: 49614.4062 - val_loss: 50361.8984 - val_mae: 50361.8984
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 645us/step - loss: 49605.8828 - mae: 49605.8828 - val_loss: 50359.5703 - val_mae: 50359.5703
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 639us/step - loss: 49597.0391 - mae: 49597.0391 - val_loss: 50347.9141 - val_mae: 50347.9141
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 651us/step - loss: 49588.6602 - mae: 49588.6602 - val_loss: 50346.6719 - val_mae: 50346.6719
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 645us/step - loss: 49580.9297 - mae: 49580.9297 - val_loss: 50343.4961 - val_mae: 50343.4961
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 647us/step - loss: 49573.6523 - mae: 49573.6523 - val_loss: 50343.3594 - val_mae: 50343.3594
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 640us/step - loss: 49569.6641 - mae: 49569.6641 - val_loss: 50335.9062 - val_mae: 50335.9062
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 637us/step - loss: 49562.7617 - mae: 49562.7617 - val_loss: 50338.1172 - val_mae: 50338.1172
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 665us/step - loss: 49555.4023 - mae: 49555.4023 - val_loss: 50331.8945 - val_mae: 50331.8945
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 649us/step - loss: 49549.1328 - mae: 49549.1328 - val_loss: 50330.0898 - val_mae: 50330.0898
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 638us/step - loss: 49545.4805 - mae: 49545.4805 - val_loss: 50328.6641 - val_mae: 50328.6641
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 665us/step - loss: 49538.6328 - mae: 49538.6328 - val_loss: 50325.7852 - val_mae: 50325.7852
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 655us/step - loss: 49532.6719 - mae: 49532.6719 - val_loss: 50322.0664 - val_mae: 50322.0664
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 644us/step - loss: 49524.4609 - mae: 49524.4609 - val_loss: 50328.3164 - val_mae: 50328.3164
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 645us/step - loss: 49523.7656 - mae: 49523.7656 - val_loss: 50331.7812 - val_mae: 50331.7812
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 631us/step - loss: 49518.8242 - mae: 49518.8242 - val_loss: 50328.8203 - val_mae: 50328.8203
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 721us/step - loss: 49510.9141 - mae: 49510.9141 - val_loss: 50324.8633 - val_mae: 50324.8633
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 655us/step - loss: 49506.2930 - mae: 49506.2930 - val_loss: 50315.3672 - val_mae: 50315.3672
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 644us/step - loss: 49503.3438 - mae: 49503.3438 - val_loss: 50323.2383 - val_mae: 50323.2383
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 638us/step - loss: 49498.3438 - mae: 49498.3438 - val_loss: 50322.9609 - val_mae: 50322.9609
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 641us/step - loss: 49493.1250 - mae: 49493.1250 - val_loss: 50318.7656 - val_mae: 50318.7656
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 649us/step - loss: 49485.0508 - mae: 49485.0508 - val_loss: 50318.8398 - val_mae: 50318.8398
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 634us/step - loss: 49482.7539 - mae: 49482.7539 - val_loss: 50325.4062 - val_mae: 50325.4062
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 640us/step - loss: 49475.5586 - mae: 49475.5586 - val_loss: 50328.0625 - val_mae: 50328.0625
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 635us/step - loss: 49473.3320 - mae: 49473.3320 - val_loss: 50323.8828 - val_mae: 50323.8828
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 631us/step - loss: 49469.0000 - mae: 49469.0000 - val_loss: 50319.6289 - val_mae: 50319.6289
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 649us/step - loss: 49468.1445 - mae: 49468.1445 - val_loss: 50325.5117 - val_mae: 50325.5117
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 632us/step - loss: 49459.3242 - mae: 49459.3242 - val_loss: 50330.6016 - val_mae: 50330.6016

In [17]:
### Load Tensorboard Extension

%load_ext tensorboard

In [19]:
## Launch Tensorboard to see logs visuals by prividing newly created fit file name in logs

%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 1812), started 0:00:13 ago. (Use '!kill 1812' to kill it.)

In [ ]:
## Use '!kill 1812' to stop TensorBoard, using port id (PID) number with !kll command

!kill 1812

In [21]:
## Evaluate model on the test data to check performance

test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step - loss: 50315.3672 - mae: 50315.3672
Test MAE: 50315.3671875

In [22]:
## Save this model in h5 file

model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [ ]:
## This can be deployed to Strealit cloud by creating ann_regression_app.py file